#perfil-persona {
	.signleContent {
		.singleHeader {
			.personaHeader {
				@include outer-container(90%);
				@include omega;
				margin:{top:60px;left:auto;right:auto;}
				@include media($mobileLand) {
					margin: {top:45px;}
				}
				@include media($notebook) {
					margin: {top:73px;}
				}
				@include media($desktop) {
					margin: {top:114px;}
				}
				.personaContenedor {
					@include span-columns(12);
					display: table;
					.imgPersona {
						@include span-columns(5);
						float: none;
						@include omega;
						display: table-cell;
						vertical-align: middle;
						position: relative;
						.btn-vermas {
							display: block;
							position: absolute;
							right: 0;
							bottom: 0;
							label {
								width: 100%;
								height: 100%;
								display: table;
								@include media($desktop) {
						            font:{size:22px;}
						         }
								i {
									display: table-cell;
									vertical-align: middle;
								}
							}
							&.btn-Hide {
								display: none;
							}
						}
						input[type="file"]{
							display: none;
						}
						img {
							width: 80px;
							height: 80px;
							@include borderRadius(50%);
							border:2px solid $bg_white;
							float: right;
							@include media($mobileIphone) {
								width: 90px;
								height:90px;
							}
							@include media($mobileLand) {
								width: 100px;
								height:100px;
							}
							@include media($tablet) {
								width: 160px;
							    height: 160px;
							    border:4px solid $bg_white;
							}
							@include media($tabletLand) {
								width: 140px;
							    height: 140px;
							    border:4px solid $bg_white;
							}
							@include media($notebook) {
								width: 110px;
							    height: 110px;
							    float: right;
							}
							@include media($desktop) {
								width: 140px;
							    height: 140px;
							    float: right;
							    border:3px solid $bg_white;
							}
						}
					}
					.personaInfo {
						@include span-columns(7);
						float: none;
						@include omega;
						text:{align: left;}
		    			padding:{left: 10px;}
		    			display: table-cell;
						vertical-align: middle;
						float: none;
						@include media($tablet) {
							padding:{left: 17px;}
						}
						@include media($tabletLand) {
							padding:{left: 20px;}
						}
						.personaNombre {
							@include span-columns(12);
							@include omega;
							font:{size:16px;}
							@include media($mobileLand) {
								font:{size:27px;}
							}
							@include media($tablet) {
								font:{size:19px;}
							}
							@include media($tabletLand) {
								font:{size:20px;}
							}
							@include media($notebook) {
								font:{size:25px;}
							}
						}
						.personaCargo {
							@include span-columns(12);
							@include omega;
							font:{size:12px;style:italic;}
							@include media($mobileLand) {
								font:{size:14px;}
							}
							@include media($tablet) {
								font:{size:20px;}
							}
							@include media($tabletLand) {
								font:{size:18px;}
							}
							@include media($notebook) {
								font:{size:17px;}
							}
						}
					}	
				}
			}
			.bg-mask-color {
				svg {
					path {
						fill:$second_color;
					}				
				}
			}	
		}
		.singleBody {
			.block-interior {
				.block-inside-single {
					@include span-columns(12);
					@include omega;
					@include media($tablet) {
						@include span-columns(6);
						@include omega;
					}
					@include media($tabletLand) {
						@include span-columns(6);
						@include omega;
					}
					@include media($notebook) {
						@include span-columns(12);
						@include omega;
					}
				}
				&.block-responsive {
					.txt-inside {
						@include media($tablet) {
							@include span-columns(6);
							@include omega;
						}
						@include media($tabletLand) {
							@include span-columns(6);
							@include omega;
						}
						@include media($notebook) {
							@include span-columns(6);
							@include omega;
						}
					}
					.btn-block-inside {
						@include media($tablet) {
							@include span-columns(6);
							@include omega;
						}
						@include media($tabletLand) {
							@include span-columns(6);
							@include omega;
						}
						@include media($notebook) {
							@include span-columns(6);
							@include omega;
						}
					}
				}
				&.blockResponsive {
					.block-inside-single {
						@include media($notebook) {
							@include span-columns(6);
							@include omega;
						}
					}
				}
			}
		}
		.botonera-EditPersona {
			@include span-columns(12);
			padding:10px;
			@include media($notebook) {
				@include span-columns(6);
				float: right;
				padding:0;
				margin: {right:40px !important;bottom:20px;}
				.line-green {
					@include span-columns(5);
				}
				.bg-green {
					@include span-columns(7);
				}
			}
			&.edit-Hide {
				display: none;
			}
		}
	}
}