#perfil-persona {
	.signleContent {
		.singleHeader {
			.personaHeader {
				@include outer-container(90%);
				@include omega;
				margin:{top:60px;left:auto;right:auto;}
				@include media($mobileLand) {
					margin: {top:45px;}
				}
				@include media($notebook) {
					margin: {top:73px;}
				}
				@include media($desktop) {
					margin: {top:114px;}
				}
				.personaContenedor {
					@include span-columns(12);
					display: table;
					.imgPersona {
						@include span-columns(5);
						float: none;
						@include omega;
						display: table-cell;
						vertical-align: middle;
						position: relative;
						.btn-vermas {
							display: block;
							position: absolute;
							right: 0;
							bottom: 0;
							label {
								width: 100%;
								height: 100%;
								display: table;
								@include media($desktop) {
						            font:{size:22px;}
						         }
								i {
									display: table-cell;
									vertical-align: middle;
								}
							}
							&.btn-Hide {
								display: none;
							}
						}
						input[type="file"]{
							display: none;
						}
						img {
							width: 80px;
							height: 80px;
							@include borderRadius(50%);
							border:2px solid $bg_white;
							float: right;
							@include media($mobileIphone) {
								width: 90px;
								height:90px;
							}
							@include media($mobileLand) {
								width: 100px;
								height:100px;
							}
							@include media($tablet) {
								width: 160px;
							    height: 160px;
							    border:4px solid $bg_white;
							}
							@include media($tabletLand) {
								width: 140px;
							    height: 140px;
							    border:4px solid $bg_white;
							}
							@include media($notebook) {
								width: 110px;
							    height: 110px;
							    float: right;
							}
							@include media($desktop) {
								width: 140px;
							    height: 140px;
							    float: right;
							    border:3px solid $bg_white;
							}
						}
					}
					.personaInfo {
						@include span-columns(7);
						float: none;
						@include omega;
						text:{align: left;}
		    			padding:{left: 10px;}
		    			display: table-cell;
						vertical-align: middle;
						float: none;
						@include media($tablet) {
							padding:{left: 17px;}
						}
						@include media($tabletLand) {
							padding:{left: 20px;}
						}
						.personaNombre {
							@include span-columns(12);
							@include omega;
							font:{size:16px;}
							@include media($mobileLand) {
								font:{size:27px;}
							}
							@include media($tablet) {
								font:{size:19px;}
							}
							@include media($tabletLand) {
								font:{size:20px;}
							}
							@include media($notebook) {
								font:{size:25px;}
							}
						}
						.personaCargo {
							@include span-columns(12);
							@include omega;
							font:{size:12px;style:italic;}
							@include media($mobileLand) {
								font:{size:14px;}
							}
							@include media($tablet) {
								font:{size:20px;}
							}
							@include media($tabletLand) {
								font:{size:18px;}
							}
							@include media($notebook) {
								font:{size:17px;}
							}
						}
					}	
				}
			}
			.bg-mask-color {
				svg {
					path {
						fill:$second_color;
					}				
				}
			}	
		}
		.singleBody {
			.block-single {
				.block-interior { 
					.block-inside-single {
						@include span-columns(12);
						@include omega;
						position: relative;
						@include media($tablet) {
							@include span-columns(6);
							@include omega;
						}
						@include media($tabletLand) {
							@include span-columns(6);
							@include omega;
						}
						@include media($notebook) {
							@include span-columns(12);
							@include omega;
						}
					}
					&.block-responsive {
						.txt-inside {
							@include media($tablet) {
								@include span-columns(6);
								@include omega;
							}
							@include media($tabletLand) {
								@include span-columns(6);
								@include omega;
							}
							@include media($notebook) {
								@include span-columns(6);
								@include omega;
							}
						}
						.btn-block-inside {
							@include media($tablet) {
								@include span-columns(6);
								@include omega;
							}
							@include media($tabletLand) {
								@include span-columns(6);
								@include omega;
							}
							@include media($notebook) {
								@include span-columns(6);
								@include omega;
							}
						}
						&.element-Hide {
							display: none;
						}
					}
					&.block-complete {
						&.element-Hide {
							display: none; 
						}
						.btn-vermas {
							position: absolute;
							top:0;
							right:0;
						}
						.block-inside-single {
							.txt-block {
								@include span-columns(11);
								margin:{bottom:10px;}
							}
							.linea-tiempo {
								@include span-columns(1);
								position: absolute;		
								height: 90%;
								bottom: 0;
								.ball-inside {
									width: 10px;
									height: 10px;
									background: $grey_three;
									@include borderRadius(50%);
									position: absolute;
									top: 0;
									left:0;
									right: 0;
									display: block;
									margin: 0 auto;
								}
								.linea-inside {
									width: 1px;
									border:{left:1px solid $grey_three;}
									position: absolute;
									height: 100%;
									display: block;
									margin: 0 auto;
									left:0;
									right: 0;
								}
							}
							.bloque-tiempo {
								@include span-columns(11);
								float: right;
								.header-bloque {
									@include span-columns(12);
									display: table;
									.imagen-blockReg {
										@include span-columns(4);
										@include omega;
										@include media($mobileIphone) {
											@include span-columns(3);
											@include omega;
										}
										@include media($mobileLand) {
											@include span-columns(4);
											@include omega;
										}
										.img-experiencia {
											@include span-columns(4);
											@include omega;
											margin:{bottom:10px;}
											position: relative;
											img {
												width: 80px;
												height: 80px;
												@include borderRadius(50%);
												border:3px solid $bg_gray;
												float:left;
											}	
											.btn-vermas {
												bottom:0;
												top: initial;
												&.btn-EditImg {
													&.element-Hide {
														display: none;
													}
												}
											}
											input[type="file"]{
												display: none;
											}
										}	
									}
									.body-blockReg {
										@include span-columns(8);
										@include media($mobileIphone) {
											@include span-columns(9);
											@include omega;
											display: table-cell;
											vertical-align: bottom;
											float: none;
											padding:{left:10px;bottom:10px;}
										}
										@include media($mobileLand) {
											@include span-columns(10);
											@include omega;
											display: table-cell;
											vertical-align: bottom;
											float: none;
											padding:{left:10px;bottom:10px;}
										}
										@include media($tablet) {
											@include span-columns(10);
											@include omega;
											display: table-cell;
											vertical-align: bottom;
											float: none;
											padding:{left:10px;bottom:10px;}
										}
										@include media($notebook) {
											@include span-columns(10);
											@include omega;
											display: table-cell;
											vertical-align: bottom;
											float: none;
											padding:{left:10px;bottom:10px;}
										}
										@include omega;
										display: table-cell;
										vertical-align: bottom;
										float: none;
										padding:{bottom:10px;}
										.txt-block {
											margin:0;
	    									line-height: 7px;
											.title-dato {
												&.element-Hide {
													display: none;
												}
											}
											.field-tmp {
												&.field-cargo {
													font:{weight:600;}
												}
												&.field-empresa {
													font:{style:italic;}
												}
												&.field-fecha {
													font:{family:$first_font;size:11px;}
												}
												&.field-descrpt {
													font:{size:11px;}
												}
												&.fields-hide {
													margin:{bottom:0;}
												}	
											}
											&.fecha-block {
												@include span-columns(6);
												@include omega;
												margin:0;
												@include media($mobileIphone) {
													@include span-columns(5);
													@include omega;
													margin:0;
												}
												@include media($mobileLand) {
													@include span-columns(4);
													@include omega;
													margin:0;
												}
												@include media($notebook) {
													@include span-columns(4);
													@include omega;
													margin:0;
												}
											}
										}
									} 	
									&.header-Edit {
										.imagen-blockReg {
											@include span-columns(12);
											@include omega;
										}
										.body-blockReg {
											@include span-columns(12);
											@include omega;
										}
										.txt-block {
											@include span-columns(12);
											@include omega;
											.title-dato {
												margin:{bottom:8px;}
											}
											.field-tmp {
												margin:{bottom:10px;}
											}
											&.fecha-block {
												@include span-columns(12);
												@include omega;
											}
										}
									}
								}
								.descript-blockReg {
									.title-dato {
										&.element-Hide {
											display: none;
										}
									}
								}
								
							}
							&.bloque-por-idioma {
								border:{bottom:1px solid $grey_four;}
								@include media($tablet) {
									border: 0;
								}
								&:last-child {
									border:0;
								}
							}
							&.Full-Block {
								@include span-columns(12);
								@include omega;
								@include media($tablet) {
									@include span-columns(12);
									@include omega;
								}
								.txt-block {
									@include media($tablet) {
										@include span-columns(6);
										@include omega;
									}
								}
							}
						}
					}
				}
				&.block-RRSS {
					.block-inside-single {
						.icon-block {
							width: 35px;
							height: 35px;
							background:$first_color;
							@include borderRadius(50%);
							display: table;
							i {
								display: table-cell;
								vertical-align: middle;
								color:$bg_white;
								font:{size: 20px;}
							}
						}
						.txt-block {
							&.element-Hide {
								display: none;
							}
						}	
						&.gridRRSS {
							@include span-columns(2);
							@include media($tablet) {
								@include span-columns(1);
							}
						}
					}
				}
			}
		}
		.botonera-EditPersona {
			@include span-columns(12);
			padding:10px;
			@include media($notebook) {
				@include span-columns(6);
				float: right;
				padding:0;
				margin: {right:40px !important;bottom:20px;}
				.line-green {
					@include span-columns(5);
				}
				.bg-green {
					@include span-columns(7);
				}
			}
			&.edit-Hide {
				display: none;
			}
		}
		.field-tmp {
			padding: 8px 10px;
			&.fields-hide {
				padding: 0;
			}
		}
	}
}